@media screen and (min-width : 480px) {
	#topcenter_m {
		display: none;
	}
	#topcenter {
		display: block;
		/*text-align: left;
		margin-left: 25%;
		margin-right: 25%;
		transform: translateX(25%);
	}
	#topcenter h1 {
		margin: 0;*/
	}
	.check {
		background-color: #1DBF73;
		padding: 10px 40px;
		border-radius: none;
		margin: 10px;
		border: none;
	}
	.mycards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    padding: 5%;
	}
	.ready {
	    padding: 5% 10%;
	    background-image: url(../images/ready_to_begin.jpg);
	    background-color: #35332B;
	    background-blend-mode: overlay;
	    background-size: cover;
	    background-position: center;
	    color: white;
	    margin: 5% 0;
	}
	.ready a.btn {
	    padding: 10px 40px;
	    border-radius: 40px;
	    background-color: #1DBF73;
	    border: none;
	}
	.no_m {
		display: block;
	}
	.px-5 a {
    display: inline-block;
	}
	.bordered {
	    border-right: 1px solid black;
	}
	#last {
	    border: none;
	}
	.make {
		padding: 5%;
		text-align: left;
	}
	.last {
	    padding: 5%;
	    text-align: left;
	    display: grid;
	    grid-template-columns: 3fr 2fr;
	}
	.last h4 {
	    padding: 0;
	}
	.last a {
	    display: inline-block;
	}
	.nav-link {
		margin: 5px;
		color: white;
	}
	footer {
		display: block;
	}
	#footer_m {
		display: none;
	}
	#chat {
        display: inline-block;
	}
	.px-5 {
	    text-align: left;
	    display: grid;
		grid-template-columns: 3fr 2fr;
	}
	.px-5 a {
	    display: inline-block;
	    margin: auto 2%;
	    transform: translateY(50%);
	}
	#chat {
		display: inline-block;
	}
	@media screen and (min-width : 750px) {
		.active {
			display: none;
		}
		@media screen and (min-width : 800px) {
		.active {
			display: inline-block;
		}
	}
}
