body {
    font-family: raleway;
    background-color: #FBFBFB;
    box-sizing: border-box;
}
img {
    width: 120px;
}
#Dnav {
    display: none;
}
#Mnav {
    display: block;
}
#NavBar ul li {
    display: inline;
}
#NavBar ul {
    float: right;
}
.nav-link {
    margin: 0 !important;
}
.nav-link:hover {
    color: #1DBF73 !important;
}
#topcenter {
    display: none;
}
.clear {
    clear: both;
}
.bg2 {
    width: 100%;
    background-color: #D2F1E2;
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 50px; 
     
}
.bg1 {
    width: 100%;
    background-color: #1DBF73;
    padding: 0;
    padding-bottom: 20px;
}
.bg0 {
    width: 100%;
/*    height: 774px;*/
    background-image: url(../images/architecture-blue_1.jpg);
    background-size: cover;
    background-color: #253A4A;
    background-blend-mode: multiply;
    background-position: center;
    color: white;
    padding: 4% 7%;
}
.bgg {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
}
form {
    margin-bottom: 100px; 
}
#started {
    background-color: #1DBF73;
    color: white !important;
    border-radius: 20px;
    padding: 10px 25px;
    text-align: center;
}
#started:hover {
    background-color: white;
    color: #1DBF73 !important;
    border-radius: 20px;
    padding: 10px 25px;
    border: 1px solid #1DBF73;
    text-align: center;
}
#topcenter_m {
        display: block; 
        margin-bottom: 20%;
}
#topcenter_m form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3%;
        grid-row-gap: 10%;
}
input {
    width: 100%;
    background-color: transparent;
    background-blend-mode: color-dodge(100%);
    border: 1px solid white;
    color: white;
    height: 35px;
}
.full {
    column-count: 2;
    grid-column: 1/3;
}
#topcenter {
    margin-top: 10%;
    margin-bottom: 25%;
}
#topcenter h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 3px;
}
/*.padding {
    margin: 5%;
}
*/.mycards {
    display: block;
    padding: 5%;
}
.mycards img {
    width: 50px;
    margin: 12px;
}
.mycards a {
    background-color: white;
    display: block;
    margin: 5% 10%;
    padding: 10%;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 3px #999;
    }
.mycards a:hover {
    background-color: #1DBF73;
    color: white;
}
.child05 {
    width: 100%;
    background-color: white;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 5px 5px 3px #BBB;
    margin: 2% 2% !important;
/*    height: 200px;*/
}
.child05 img {
    width: 100%;
    min-height: 100%;
}
.child05 div {
    padding: 3% 2%;
    text-align: left;
    font-size: 0.7em; 
}
.child05 div h5 {
    font-size: 1.3em; 
}
.child05 div a {
    text-decoration: none;
    color: #1DBF73;
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 3px;
}
.child05 div a:hover {
    text-decoration: underline;
    color: black;
    padding-bottom: 10px;
}
.ready {
    padding: 10%;
    background-image: url(../images/Depositphotos_1.jpg);
    background-color: #253A4A;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 10% 0;
}
.ready a.btn {
    padding: 10px 40px;
    border-radius: 40px;
    background-color: #1DBF73;
    border: none;
    color: white;
}
.ready a.btn:hover {
    padding: 10px 40px;
    border-radius: 40px;
    background-color: white;
    border: 1px #1DBF73 solid;
    color: #1DBF73;
}
.ready h3 {
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 2px;
    word-spacing: 3px;  
}
.card {
    border: none;
    box-shadow: 5px 5px 3px #999;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 100%;
}
.fab {
    font-size: 70px;
    margin: 10px;
}
.fa-css3 {
    color: #002561;
}
.fa-python {
    color: #ffde57;
}
.fa-html5 {
    color: #e34f26;
}
.fa-php {
    color: #99cc99;
}
a.myCard {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 2%;
    font-weight: 700;
}
a.myCard:hover {
    background-color: #1DBF73;
    color: white !important;
    text-decoration: none;
    padding: 2%;
    font-weight: 700
}
.join {
    width: 100%;
    height: 35px;
    color: white;
    background-color: #1DBF73;
    grid-column: 1/3;
    border: none;
    padding: 10px auto;
    }
div.col-md-3 i {
    font-size: 35px;
    color: #1DBF73;
    font-weight: 20%;
}
.no_m {
    display: none;
}
.link {
    text-align: center;
    background-color: #1DBF73;
    border-radius: 40px;
    border: none;
    padding: 10px 60px;
    margin: 2%;
    color: white;
}
.link:hover {
    text-align: center;
    background-color: white;
    color: #1DBF73;
    border-radius: 40px;
    border: 1px #1DBF73 solid;
}
.links {
    background-color: white;
    color: #1DBF73;
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    margin: 2%;
}
.links:hover {
    background-color: #1DBF73;
    border: 1px solid white;
    color: white;
}
.col-md-3 {
    margin-bottom: 3%;
}
.col-md-8 video {
    display: block;
}
.top09 {
    font-size: 2rem;
    font-weight: 500;
}
.padding {
    padding: 2% 10%;
}
.make {
    background-color: #1DBF73;
    text-align: center;
    padding: 13%;
    color: white;
}
.make h5 {
    font-size: 1.5em;
}
.last {
    padding: 13%;
    text-align: center;
}
.last h4 {
    padding: 4%;
}
.f_content ul li {
    list-style: none;
}
footer ul {
    padding: 0;
}
footer a {
    text-decoration: none;
    color: #d9d9d9;
    text-align: left;
}
footer a:hover {
    text-decoration: underline;
    color: white;
}
.follow ul li {
    display: inline;
    margin: 2px;
}
.fa-facebook, .fa-instagram, .fa-linkedin, .fa-twitter {
    font-size: 20px;
    margin: 2px;
}
footer {
    display: none;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 5%;
    background-color: black;
    color: white;
    margin-top: 25px;
}
#eng a {
    border: 1px solid white;
    padding: 4px;
    border-radius: 15px;
    float: right;
    margin-right: inherit;
    margin-bottom: 4px;
}
#footer {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding: 3px 7%;
}
#footer ul li {
    display: inline;
    text-align: left;
    margin: 5px;
}
#footer ul {
    margin: 0;
    padding: 0;
}
#footer_m {
        display: block;
        background-color: black;
        color: white;
        padding: 1%;
        text-align: center;
}
#chat {
    display: none;
    font-size: 30px;
    float: right;
    padding: 7px;
    background-color: #1DBF73;
    color: white;
    border-radius: 100%;
    margin-right: 7%;
}
#chat:hover {
    font-size: 30px;
    float: right;
    padding: 7px;
    background-color: white;
    color: #1DBF73;
    border-radius: 100%;
    margin-right: 7%;
}